body {
	   background-color:brown;
	   
	   
	   

}
img {
       border: 10px solid gray;
       padding: 15px;
	   margin-right: -15px;
	   margin-left: -65px;
	   height: 200px;
	
}
.row {
	   background-color:brown;
	   padding: 55px;
	   
	  
	   
	   
	   
	   
	   
		   
}
.okvir{
	   border: 20px solid gray;
       padding: 10px; 
	   
}
	   

