html{
	  
}
#postovani{
	
		padding: 45px;	
}
#meni{
		background-color:purple;
		 
}
h1{
	text-align: left;
	text-indent: 50px;

}
h2{
	margin:55px;
}

.bocni{
	border-right: solid 2px blue;
	height: 100%;
	position: apsolute;
	top:0;
	bottom:0;
}
html, body{
  height:100%;
}