html, body{
	
		height:100%;		
}

h1{
		text-align: left;
		text-indent: 50px;
}


.bocni{
		border-right: solid 2px black;
		height: 100%;
		position: apsolute;
		top:0;
		bottom:0;
}
.dugmici{
	
		background-color:purple;
		font-size: 26px;
		border-radius: 12px;
		border: 2px solid black;
		color: black;
		padding: 5px;
	
}
.desni{
		border-left: 2px solid black;

}
.slike{
	
		border: 0px solid black;
		padding: 15px;
}
.pozadina{
	
		background-color:gray;
		
		
}
.naslov{
		border-bottom:solid black;
}
.glavni{
	
		font-weight: bold;
		font-weight: 900;
}
#gornji{
	
		background-color:gray;
}
#donji{
	
		background-color:gray;
		height:36%;
}
#slika{
		
		border: 10px solid black;
		margin:0 auto;
}
#prva{
		border: 5px solid black;
}
#srpski{
	
		padding: 45px;	
		display:none;
}
#engleski{
	display:block;
}
#meni{
		background-color:purple;
		
}